{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manage Notifications</title>
    <link rel="stylesheet" href="{% static 'css/managenotifications.css' %}">
</head>

<body>
    <div class="container">
        <h2 style="display: flex; align-items: center; justify-content: left; gap: 10px;">
            <img src="{% static 'images/logo.jpg' %}" alt="My Logo"
                style="width: 50px; height: auto; margin-right: 10px; padding-top: 3px;" />
        Manage Notifications</h2>

        <form method="POST" action="{% url 'addnotification' %}" class="notify-form">
            {% csrf_token %}
            
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>


            <button type="submit">Send Notification</button>
        </form>

        <h3>All Notifications</h3>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if notifications %}
                    {% for note in notifications %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.message }}</td>
                        <td>{{ note.created_at|date:"M d, Y H:i" }}</td>
                        <td>
                            <form method="POST" action="{% url 'deletenotification' note.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align:center;">No notifications yet.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>

</html>