{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Reservation System Login</title>
    <link rel="stylesheet" href="{% static 'css/newlogin.css' %}?v=1.6">
</head>

<body>
    <div class="login-container">
        <h2 style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <img src="{% static 'images/logo.jpg' %}" alt="My Logo"
                style="width: 50px; height: auto; margin-right: 10px; padding-top: 3px;">
            LOGIN TO RAILWAY RESERVATION SYSTEM
        </h2>
        <hr>

        <form method="POST">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li style="color:red; font-weight: bold; text-align: center;">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email" placeholder="Enter your email" required>

            <div style="position: relative; margin-top: 10px;">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"
                    placeholder="Enter your password"
                    style="width: 91%; padding-right: 40px;">
                <input type="checkbox" onclick="togglePassword()"
                    style="position: absolute; left: 190px; top: 50%; transform: translateY(-50%);">
                <span style="position: absolute; left: 210px; top: 65%; transform: translateY(-50%); font-size: 12px;">
                   
                </span>
            </div>

            <button type="submit">Login</button>

            <p><a href="{% url 'forgot_password_request' %}">Forget Password?</a></p>

            <div class="signup-link">
                Don't have an account? <a href="{% url 'registration' %}">Register Now</a>
            </div>
        </form>
    </div>

    <script src="{% static 'js/newlogin.js'%}"></script>
</body>

</html>
